@import '../../styles/vars';

.container {
    width: 90%;
    margin: 0 auto;
    margin-top: 5em;
    &__title {
        text-align: left;
        width: 80%;
        font-size: 1em;
        text-transform: uppercase;
        
        padding-bottom: 1em;
        letter-spacing: 1px;
    }
    &__companies {
        border-bottom: 1px solid black;
        // padding: 1em 0 0 0;
        display: flex;
        justify-content: space-between;
        max-height: 130px;
        &--modifier {
            border-top: 1px solid black;
            // padding: 0.5em;
        }
    }
    &__hover-circle {
        background-color: black;
        visibility: hidden;
        font-size: 0;
        height: 0%;
        width : 0%;
        border-radius: 50%;
        position: absolute;
        color: $yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto Condensed', sans-serif;
        transition: all 600ms ease;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
    }
    &__company {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        min-height: 114px;
        &:hover .container__hover-circle{
            background-color: black;
            opacity: 1;
            height: 100%;
            width: 70%;
            visibility: visible;
            font-size: 1.2em;
        }
        &:hover .container__hover-circle--modifier {
            background-color: black;
            opacity: 1;
            height: 100%;
            width: 70%;
            visibility: visible;
            font-size: 1.2em;
        }
        &-logo {
            height: 40%;
            width: 40%;
            position: relative;
            &--modifier-apple {
                transform: scale(1);
            }
            &--modifier-wolf {
                transform: scale(2.5);
            }
            &--modifier-virgin {
                transform: scale(1.2);
            }
            &--modifier-swoosh {
                transform: scale(0.8);
            }
            &--modifier-fb {
                width: 100%;
                transform: scale(0.5);
            }
            &--modifier-twitch {
                transform: scale(1.1);
            }
            &--modifier-eth {
                transform: scale(1.3);
            }
        }
    }
}