@import '../../styles/vars';

.app {
    background-color: $yellow;
    height: auto;
    max-width: 100%;
    overflow: hidden;
    &__main {
        height: auto;
        min-height: max-content;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
}